<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/v1/public/ [NC]
    RewriteCond %{REQUEST_URI} ^/v1/api/ [NC]
    RewriteRule ^ - [L]

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "(\.env|\.htaccess|\.git|\.gitignore|composer\.json|composer\.lock|package\.json|package-lock\.json|yarn\.lock|artisan|server\.php|webpack\.mix\.js|phpunit\.xml|node_modules)">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteRule ^(storage|vendor)($|/) - [F,L]

Options -Indexes
